<% @artworks.each do |artwork| %>
    <h1>Artwork Title: <%= artwork.title %></h1>
    <p>Artist: <%= artwork.artist %></p> 
    <%= button_to "Delete Artwork", museum_artwork_path(@museum, artwork), method: :delete %>
<% end %>
<p><%= link_to "Go to list of Museums", museums_path %></p>


