<% @museums.uniq.each do |museum| %>
    <h1>Museum: <%= museum.name %></h1> 
    <p>Location: <%= museum.location %></p>
    <p><%= link_to "Go to this Museum", museum_path(museum) %></p>
<% end %>

<p> <%= link_to "Add Another Museum", new_museum_path %></p>
