<% @museums.each do |museum| %>
    <h1>Museum: <%= museum.name %></h1> 
    <p>Location: <%= museum.location %></p>
    <p><%= link_to "Go to this Museum", museum_artworks_path(museum) %>
<% end %>
